@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    height: 50px;
    background: #333;
    color: #fff;
    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor {
    width: 98%;
    margin: auto;
}

h1 {
    float: left;
    font-size: 28px;
    margin-top: 10px;
}

header .contenedor {
    display: table;
}

section {
    width: 100%;
    margin-bottom: 25px;
}

@media (min-width:280px) {
    h1 {
        font-size: 23px;
    }
}

@media (min-width:768px) {
    .sociales {
        width: auto;
    }

    footer .contenedor {
        justify-content: space-between;
    }
}

@media (min-width:1024px) {
    .contenedor {
        width: 1000px;
    }
}

/* MENU */

#menu-bar {
    display: none;
}

header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(51, 51, 51, 0.9);
    transition: all 0.5s;
    transform: translateX(-100%);
}

.menu a {
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.menu a:hover {
    background: rgba(255, 255, 255, 0.3);
}

#menu-bar:checked ~ .menu {
    transform: translateX(0%);
}

@media (min-width:1024px) {
    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }

    .menu a {
        border: none;
    }

    header label {
        display: none;
    }
}

@media (min-width:280px) {
    header label {
        margin-top: 10px;
    }
}

@media (min-width:320px) {
    header label {
        margin-top: 10px;
    }
}

/* BANNER */

#banner {
    margin-top: 50px;
}

#banner img {
    width: 100%;
    height: 100%;
}

#banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: rgb(0, 0, 0);
    font-family: 'Bebas Neue', cursive;
}

#banner h2 {
    font-size: 27px;
}

#banner a {
    width: 100px;
    text-decoration: none;
    margin-top: 10px;
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #3a86ff;
    box-shadow: 0 5px #4433ff;
}

#banner a:hover {
    box-shadow: 0 3px #4433ff;
    top: 1px;
}

#banner a:active {
    box-shadow: 0 0 #4433ff;
    top: 5px;
}

@media (min-width:280px) {
    #banner .contenedor {
        top: 28%;
    }
}

@media (min-width:350px) {
    #banner h2 {
        font-size: 23px;
    }

    #banner a {
        margin-top: 25px;
        font-size: 18px;
        margin-left: 15px;
    }

    #banner .contenedor {
        top: 22%;
        font-size: 22px;
    }
}

@media (min-width:360px) {
    #banner .contenedor {
        top: 30%;
    }
}

@media (min-width:480px) {
    #banner h2 {
        font-size: 40px;
    }

    #banner a {
        margin-top: 25px;
    }

    #banner .contenedor {
        top: 28%;
    }
}

@media (min-width:768px) {
    #banner {
        height: 300px;
        overflow: hidden;
    }

    #banner img {
        height: auto;
        margin-top: -100px;
    }

    #banner .contenedor {
        top: 20%;
    }
}

@media (min-width:1024px) {
    #banner img {
        margin-top: -200px;
    }
}

@media (min-width:1200px) {
    #banner img {
        margin-top: -300px;
    }
}

@media (min-width:1400px) {
    #banner img {
        margin-top: -400px;
    }
}

@media (min-width:1660px) {
    #banner img {
        margin-top: -500px;
    }

    #banner .contenedor {
        top: 21%;
    }
}

@media (min-height:600px) {
    #banner .contenedor {
        top: 28%
    }
}


/* BIENVENIDOS */

#bienvenidos {
    text-align: center;
}

#bienvenidos h2 {
    font-family: 'Oswald', sans-serif;
}

#bienvenidos p {
    font-family: 'Dongle', sans-serif;
    padding: 9px;
}

@media (min-width:280px) {
    #bienvenidos p {
        font-size: 23px;
    }

    #bienvenidos h2 {
        margin-bottom: 5px;
    }
}

@media (min-width:350px) {
    #bienvenidos h2 {
        font-size: 22px;
        margin-bottom: 25px;
    }

    #bienvenidos p {
        font-size: 24px;
    }
}

@media (min-width:320px) {
    #bienvenidos h2 {
        font-size: 22px;
        margin-bottom: 25px;
        padding: 0.5px;
    }

    #bienvenidos p {
        font-size: 24px;
    }
}

@media (min-width:768px) {
    #bienvenidos p {
        font-size: 30px;
    }
}

/* Blog */

#blog h2 {
    font-family: 'Oswald', sans-serif;
}

#blog h2, h4 {
    text-align: center;
}

#blog h4 {
    font-family: 'Anybody', cursive;
}

#blog .contenedor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#blog article {
    margin: 15px;
}

#blog img {
    width: 100%;
    max-width: 280px;
}

.fancy {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
   }
   
   .fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: black;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
   }
   
   .fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
   }
   
   .fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, left 0.3s ease-out;
   }
   
   .fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy:hover {
    color: white;
    background: black;
   }
   
   .fancy:hover::before {
    width: 0.9375rem;
    background: white;
   }
   
   .fancy:hover .text {
    color: white;
    padding-left: 1.5em;
   }
   
   .fancy:hover .top-key {
    left: -2px;
    width: 0px;
   }
   
   .fancy:hover .bottom-key-1,
    .fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
   }

@media (min-width:280px) {
    #blog h2 {
        font-size: 21px;
    }

    #blog h4 {
        font-size: 18px;
        padding: 10px;
    }

    #blog .contenedor {
        display: grid;
        grid-template-columns: 1fr;
        margin-left: 3.5px;
    }

    .fancy {
        left: 5%;
    }

    #blog h4 {
        margin-right: 10px;
    }
}

@media (min-width:320px) {
    .fancy {
        left: 11%;
    }
}

@media (min-width:360px) {
    #blog .contenedor {
        margin-left: 23px;
    }

    #blog h4 {
        margin-right: 30px;
    }
}

@media (min-width:768px) {
    #blog .contenedor {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: auto;
    }

    #blog h4 {
        margin: auto;
    }

    .fancy {
        left: 120%;
    }
}

@media (min-width:1024px) {
    #blog .contenedor {
        margin: auto;
    }
}

/* Info */

#infox {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#infox h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
}

#infox .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-emp {
    margin: 20px;
}

.info-emp img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 7px solid #fff;
}

@media (min-width:480px) {
    .info-emp {
        width: 40%;
    }
}

@media (min-width:1024px) {
    .info-emp {
        width: auto;
    }
}

/* CONTACTO Y RESERVAS */

#bodycontacto {
    background-color: #181818;
    margin-top: 65px;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
    padding: 0
}

form select {
    border-radius: 5px solid #333;
}

.content {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

.logo {
    text-align: center;
    font-size: 3em;
}

.contact-wrapper {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, .3)
}

.contact-wrapper > * {
    padding: 1em;
}

.contact-form {
    background: #222222;
}

.contact-form h3{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.contact-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form .block {
    grid-column: 1 / 3;
}

.contact-form form p{
    margin: 0;
    padding: 1em;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .7em;
    border: none;
    background: none;
    outline: 0;
    color: #fff;
    border-bottom: 1px solid #d63031;
}

.contact-form form button {
    background: #b70e21;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
    background: #d63031;
    color: #fff;
    transition: background-color 1s ease-out;
    outline: 0;
}

.contact-info {
    background: #000;
}

.contact-info h4{
    text-align: center;
    font-size: 20px;
}

.contact-info h4,
.contact-info ul,
.contact-info p {
    text-align: center;
    margin: 0 0 1rem 0;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info ul li {
    padding: .3em;
}

@media (min-width: 280px) {
    .contact-form form {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    .contact-form form .block {
        grid-column: 1 / 1;
    }

    .contact-info ul li iframe{
        width: 100%;
    }

    .contact-info ul li {
        font-size: 15px;
    }
}

@media (min-width: 700px) {
    #bodycontacto {
        padding: 0 4rem;
    }

    .contact-wrapper {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .contact-wrapper > * {
        padding: 2em;
    }

    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        padding: 1em;
        text-align: left;
    }

    .contact-info ul li iframe{
        width: 100%;
    }
}

/* FOOTER */

.main-footer {
    background: #282828;
    color:#828282;
    padding: 40px;
}

.footer-title {
    font-size: 1.8em;
    color: white;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
}

.main-footer p {
    line-height: 30px;
}

.footer--autor {
    text-align: right;
    color: #EEAD33;
    display: block;
}

.footer-txt .fa-twitter {
    color: #3bbef5;
    margin-right: 5px;
}

.footer-link {
    color: #EEAD33;
}

.footer-date {
    font-size: .8em;
    border-bottom: 1px solid #888;
    padding-bottom: 10px;
}

.social-icon {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.social-icon i {
    margin-right: 10px;
    width: 35px;
    height: 35px;
    text-align: center;
    color: white;
    padding: 10px;
    border-radius: 50%;
}

.social-icon .fa-facebook {
    background: #3b5998;
}

.social-icon .fa-twitter {
    background: #3bbef5;
}

.social-icon .fa-instagram-square {
    background: #9512af;
}

.social-icon .fa-whatsapp-square {
    background: #60ee3c;
}

.social-link {
    display: block;
    text-decoration: none;
    color: #828282;
}

.contact-icon {
    display: flex;
    align-items: center;
}

.contact-icon .fa-solid {
    color: white;
    display: block;
    margin-right: 10px;
}

.copy {
    background: #211E1E;
    padding: 20px;
    color: white;
    text-align: center;
    width: 100%;
}